/* Common Tag And Class */
/* Tag Style */
p {
    margin-bottom: 0;
}

b {
    font-weight: bold;
}

img {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

a:active {
    color: initial;
}

a:focus {
    color: initial;
}

input[type=checkbox]:focus {
    outline: none;
}

.custom-control-input[type=checkbox]:focus ~ .custom-control-label::before {
    box-shadow: none;
    outline: none;
}