<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BannerMapper">
    <resultMap id="Banner" type="com.model.service.Banner">
        <result property="image" column="image" typeHandler="com.middleware.JsonObjectTypeHandler"
                javaType="com.model.common.MFile"/>
    </resultMap>
    <select id="getBanners" resultType="Banner" resultMap="Banner">
        select *
        from banner
        ORDER BY reg_datetime DESC
    </select>
    <select id="getActiveBanners" resultType="Banner" resultMap="Banner">
        select *
        from banner
        WHERE status = true
        ORDER BY reg_datetime DESC
    </select>
    <insert id="registerBanner" keyProperty="no" useGeneratedKeys="true">
        insert into banner(image, status, url, reg_datetime, updated_datetime)
        VALUES (#{image, typeHandler=com.middleware.JsonObjectTypeHandler}, true, #{url}, now(), now())
    </insert>
    <delete id="deleteBanner">
        delete
        from banner
        WHERE no = #{no}
    </delete>
    <update id="updateBannerImage">
        update banner
        SET image            = #{image, typeHandler=com.middleware.JsonObjectTypeHandler},
            updated_datetime = now()
        WHERE no = #{no}
    </update>
    <update id="updateBannerUrl">
        update banner
        SET url              = #{url},
            updated_datetime = now()
        WHERE no = #{no}
    </update>
    <update id="updateBannerStatus">
        update banner
        SET status           = !status,
            updated_datetime = now()
        WHERE no = #{no}
    </update>
    <update id="updateBanner">
        update banner
        SET status           = #{status},
            url              = #{url},
            image            = #{image, typeHandler=com.middleware.JsonObjectTypeHandler},
            updated_datetime = now()
        WHERE no = #{no}
    </update>
</mapper>